<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cirrus-ui/dist/cirrus.min.css" />
    <title>Pygtcha - spot the pig !</title>
    {% block header  %}{% endblock %}
</head>
<body>
  <div>
    {% block content %}{% endblock %}
  </div>
</body>
</html>
