{% extends "base.html.j2" %}

{% block header %}
  <script>
    pigs = new Map();
    {% for pig in pigs %}
      pigs["{{pig.uuid}}"] = { img: "{{pig.img_data}}",
      name: "{{pig.name}}",
      desc: `{{pig.desc}}`};
    {% endfor %}

    function showFullImage(uuid) {
    const container = document.getElementById("full-size-pig");
    const pig = pigs[uuid];
    container.innerHTML = `
    <div class="frame" >
      <div class="frame__header u-text-center u-align-center">
	<div>
	  <figure class="pyg">
	    <img class="img-stretch" src="data:image/png;base64,${pig.img}">
	  </figure>
	</div>
	<div>
          <h6 class="frame__title">${pig.name}</h6>
        </div>
      </div>
      <div class="frame__body">
	<div class="content u-text-center">
	  <p>
	    ${pig.desc}
	  </p>
	</div>
      </div>
    </div>
    `;
    }
  </script>

  <style>
    button.pyg {
      padding:0;
      border:0;
    }

    figure.pyg {
      max-width: 8em;
      margin: auto;
    }

  </style>

{% endblock %}

{% block content %}
  <form action="" method="POST">
    <div>
      <h1 class="font-alt font-light u-text-center">Click sur {{collection.title}}</h1>
    </div>
    <div class="u-flex u-justify-center">
      {% for pig in pigs %}
	<div>
	  <button class="pyg" onmouseover="showFullImage('{{pig.uuid}}')" name="selected" value="{{pig.uuid}}">
	  <img class="img-stretch"
	       src="data:image/png;base64,{{pig.thumbnail or pig.img_data}}">
	  </button>
	</div>
      {% endfor %}
    </div>
  </form>
  <div class="u-flex u-flex-column u-align-center" id="full-size-pig"></div>
{% endblock %}
