{% extends "base.html.j2" %}

{% block content %}
  <form action="" method="POST">
    <div>
      <h1 class="font-alt font-light u-text-center">Clicke sur {{collection.title}}</h1>
    </div>
    <div class="w-80p u-center">
      <div>
	{% for pig in pigs %}
	  <div>
	    <img src="data:image/png;base64,{{pig.thumbnail}}">
	    {#
	    <button class="btn-link u-center" name="selected" value="{{pig.name}}">
	      {{pig.name}}
	    </button>
	    #}
	  </div>
	{% endfor %}
	<input type="hidden" name="category" value="{{collection.category}}"/>
	<input type="hidden" name="pygtcha-cookie-name" value="pygtcha_cookie"/>
      </div>
    </div>
  </form>
{% endblock %}
