
http://localhost:8081 {
	root * /var/www
	file_server browse
}


# Serve your app
http://localhost:8080 {
	forward_auth *  https://pygtcha.lareole.net {
		uri "/verify"
		header_up pygtcha-url "https://pygtcha.lareole.net/auth"
	}
	reverse_proxy http://localhost:8081
}
