pygtcha.example.com {
	reverse_proxy unix//run/pygtcha.sock
}


www.example.com {

	forward_auth "/protected/*" unix//run/pygtcha.sock {
		uri "/verify?pygtcha_url=https://pygtcha.example.com/auth"
		header_up pygtcha-redirect "https://www.example.com/protected/"
		header_up pygtcha-domain "example.com"
	}

	vars root /var/www

	handle_path "/protected/*"  {

		# Set this path to your site's directory.
		root * {vars.root}

		# Enable the static file server.
		file_server browse
	}
}
