[Unit]
Description=pygtcha webservice
Requires=pygtcha.socket
After=network.target

[Service]
# gunicorn can let systemd know when it is ready
Type=notify
NotifyAccess=main
# the specific user that our service will run as
User=pygtcha
Group=pygtcha
WorkingDirectory=/var/lib/pygtcha
Environment=PYGTCHA_CONFIG=/var/lib/pygtcha/pygtcha.yml
ExecStart=/var/lib/pygtcha/venv/bin/gunicorn pygtcha.pygtcha:app --bind localhost:8000 --worker-class aiohttp.GunicornWebWorker
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
# if your app does not need administrative capabilities, let systemd know
# ProtectSystem=strict

[Install]
WantedBy=multi-user.target